{% extends "base.html" %}

{% block nav %}{% for cat in categories %}<li><a href="{{ cat }}.html">{{ cat 
		}}</a></li>{% endfor %}{% endblock %}

{% block content %}
<h1>All articles by: {{ data[0] }}</h1>
<ol>
  {% for article in data[1][::-1] %}
  <li><article class="hentry">
          <header> <h2 class="entry-title"><a href="{{ article.title }}.html" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2> </header>
          <footer class="post-info">
              <!-- <time class="published" datetime="{ article.date.isoformat() }}"> { article.locale_date }} </time> -->
              <address class="vcard author">By
              <a class="url fn" href="{{ article.author }}.html">{{ article.author }}</a>
              </address>
          </footer><!-- /.post-info -->
          <!-- <div class="entry-content"> {{ article.content }} </div><!-- /.entry-content --> -->
          <hr>
  </article></li>
  {% endfor %}
</ol>
{% endblock %}
