<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        <title>Hello World</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        <link rel="stylesheet" href="style.css" />
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="index.html">Hello World</a></h1>
        </header><!-- /#banner -->
	<nav id="menu"><ul>{% block nav %}{% endblock %}
        </ul></nav><!-- /#menu -->
        <div id="content" class="content">
          {% block content %}
          {% endblock %}
        </div>
</body>
</html>
